<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <h2 class="title white">Welcome to djsom <span>( <b>dj</b>'s <b>s</b>ource <b>o</b>f <b>m</b>usic  )</span> </h2><br>
    <a href="/artists"><span style="font-size: large">View artists</span></a>
</main>

<footer><br>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>
